<div>
    <h2 id="page-heading">
        <span>Whiprounds</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-whipround" [routerLink]="['/whipround/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Whipround
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="whiprounds">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invitation"><span>Invitation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageUrl"><span>Image Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span>Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span>End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let whipround of whiprounds ;trackBy: trackId">
                <td><a [routerLink]="['/whipround', whipround.id, 'view' ]">{{whipround.id}}</a></td>
                <td>{{whipround.invitation}}</td>
                <td>{{whipround.imageUrl}}</td>
                <td>{{whipround.startDate | date:'medium'}}</td>
                <td>{{whipround.endDate | date:'medium'}}</td>
                <td>{{whipround.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/whipround', whipround.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/whipround', whipround.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'whipround/'+ whipround.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
