<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="whipround">
            <h2><span>Whipround</span> {{whipround.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Invitation</span></dt>
                <dd>
                    <span>{{whipround.invitation}}</span>
                </dd>
                <dt><span>Image Url</span></dt>
                <dd>
                    <span>{{whipround.imageUrl}}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{whipround.startDate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{whipround.endDate}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{whipround.status}}</span>
                </dd>
                <dt><span>Contribution</span></dt>
                <dd>
                    <span *ngFor="let contribution of whipround.contributions; let last = last">
                        <a [routerLink]="['/contribution', contribution?.id, 'view' ]">{{contribution.title}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/whipround', whipround.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
